.gridList {
  width: 95%;
  height: auto;
  overflow-y: auto;
}
body {
  background-color: #cccccc26;
}

.gridListImgs {
  width: 95%;
  flex-wrap: nowrap !important;
}

.loadingSpinner {
  position: absolute;
  top: 40%;
  left: 45%;
}

.root {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.topImages {
  height: 325px;
  width: 100%;
}

.subreddit_header {
  width: 100%;
  justify-content: center;
  font-family: 'Fjalla One';
  margin-bottom: 20px;
  font-size: 20px;
}

.subreddit_img {
  margin-top: 22px;
  margin-left: 7px;
  height:60px !important;
  width: 60px !important;
}

.hotImages {
  height: 180px;
  width: 100%;
}

.newImages {
  height: 250px;
  width: 100%;
}

.firstImage {
  width: 100%;
}

#root header{
  background-color: #2e0c40;
}

.typePosts {
  width: 90%;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 5px;
}

@media only screen and (min-width: 700px) {
  .hotImages {
    height: 225px;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .gridList, .gridListImgs {
    width: 65%;
  }
}